:root {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

body {
    padding: 0px;
    margin: 0px;

    background-color: whitesmoke;
}

.navbar {
    width: 100vw;
    height: 5rem;

    padding: 1rem;

    box-sizing: border-box;
    box-shadow: 0px 5px 7px rgba(120, 119, 119, 0.181);

    background-color: rgb(255, 255, 255);

    display: flex;

    align-items: center;
}

.navbar .btn {
    border: none;
    border-radius: 2rem;
    background-color: rgb(0, 140, 255);

    color: white;
    font-size: 16px;
    font-weight: bolder;

    width: 7rem;
    height: 2.5rem;
}

.navbar .btn:hover {
    background-color: rgb(0, 113, 206);

    transition: 0.2s;
}

.navbar .btn:active {
    background-color: rgb(1, 85, 155);
    color: whitesmoke;
}

.modal {
    display: none;
}

.modal .overlay {
    position: fixed;

    height: 100%;
    width: 100%;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(69, 69, 69, 0.438);

    z-index: 1;
}

.modal .popup {
    position: absolute;

    width: 15rem;
    height: 25rem;

    z-index: 2;

    padding: 1rem;

    background-color: rgb(255, 255, 255);
    border-radius: 1rem;

    display: flex;

    flex-direction: column;

    left: 37.5%;
    top: 27%;
}

.modal .popup .topbar {
    font-size: 28px;

    text-align: right;

    margin-bottom: 1rem;
}

.modal .popup .title {
    margin-bottom: 1rem;

    text-align: center;

    font-size: 24px;
}

.modal .popup .form > form > input {
    width: 14.5rem;
    height: 2rem;

    margin-bottom: 2rem;

    border-radius: 0.5rem;
    border: 2px solid rgb(197, 197, 197);

    padding: 1rem;

    box-sizing: border-box;
}

.modal .popup .form > form > .btn {
    padding: 0rem;
}

.books {
    display: grid;

    grid-template-columns: repeat(auto-fit, 10rem);
    grid-template-rows: repeat(auto-fit, 15rem);

    gap: 1rem;

    padding: 1.5rem;
}

.book {
    background-color: white;
    border-radius: 1rem;
    box-sizing: border-box;

    padding: 1rem;

    text-align: center;

    line-height: 2.5rem;
}

.book > button {
    background-color: gainsboro;

    height: 2rem;
    width: 6rem;

    border-radius: 0.5rem;
    border: none;

    font-weight: bolder;
}

.book > button:hover {
    background-color: rgb(183, 182, 182);
    color: white;
    transition: 0.2s;
}

.book > button:active {
    background-color: gray;
}
